[data-background]{
	background-size: cover;
}

footer {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
}

footer a,
footer a h2{
	color:#e5277e;
	text-decoration: none;
}
footer a .logo{
	font-size: 25px;
	color:#e5277e;
	font-family: Ubuntu,sans-serif;
	
}

footer .social{
	margin-top:15px;
}
@media (max-width: 767px) {

	footer .social{
		margin-top:0px;
	}

}